.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
}

.start {
  border: 1px solid #000;
  background-color: #fff;
  height: 30vw;
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.start-title {
  font-size: 4vw;
  margin: 0;
}

.choose {
  display: flex;
  align-items: center;
  justify-content: center;
}

.confirm-btn {
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  margin-top: 2vw;
  font-size: 4vw;
}

.start-btn {
  font-size: 6vw;
  height: 7vw;
  width: 8vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
  margin-left: 3vw;
  margin-right: 3vw;
  padding: auto;
}

.start-btn, .confirm-btn {
  border-radius: 7px;
}

.start-btn, .square, .type, .confirm-btn {
  border: 1px solid #999;
  background-color: #fff;
  cursor: pointer;
  transition: 0.5s;
}

.start-btn:hover, .square:hover, .type:hover, .confirm-btn:hover {
  background-color: #eee;
}

button:focus, select:focus {
  outline: none;
}

.row {
  display: flex;
}

.square {
  height: 12vw;
  width: 12vw;
  font-size: 6vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes fadeOut {
   0% {
     opacity: 1;
   }

   25% {
     opacity: 0.9;
   }

   90% {
     z-index: 1;
   }

   100% {
     opacity: 0;
     z-index: -1;
   }
}

@keyframes fadeIn {
   0% {
     opacity: 0;
   }

   100% {
     opacity: 1;
   }
}

.type {
  font-size: 2vw;
}

.opt {
  background-color: #fff;
}

.hide {
  animation: fadeOut 1s ease-in;
  animation-fill-mode: forwards;
}

.hide-quick {
  animation: fadeOut 0.5s ease-in;
  animation-fill-mode: forwards;
}

.appear {
  animation: fadeIn 1s ease-in;
  animation-fill-mode: forwards;
}

.appear-quick {
  animation: fadeIn 0.5s ease-in;
  animation-fill-mode: forwards;
}

.board {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-Width: 768px) {
  .start {
    height: 50vw;
    width: 70vw;
  }

  .start-title {
    font-size: 7vw;
  }

  .start-btn {
    height: 12.5vw;
    width: 13.5vw;
    margin-top: 0;
    margin-left: 8vw;
    margin-right: 8vw;
  }

  .square:hover, .type:hover, .start-btn:hover, .confirm-btn:hover {
    background-color: #fff;
  }

  .type {
    font-size: 4vw;
  }

  .confirm-btn {
    margin-top: 3vw;
    font-size: 6vw;
  }
}
